#firstDiv{ border: 1px black solid;
    width: 480px;
    height: 150px;
    line-height: 150px;
    background-color: rgb(223, 214, 100);
  }
  #secDiv, #thirdDiv {
    border: 1px black solid;
    width: 480px;
    height: 125px;
    line-height: 125px;
    background-color: rgb(216, 141, 148);
  }
  #thirdDiv {
  background-color: rgb(116, 226, 140);
  }
  
   #fourthDiv , #fifthDiv , #sixthDiv ,#seventhDiv {
    border: 1px black solid;
    width: 240px;
    height: 250px;
    line-height: 250px;
    float: left;
  }
  
  #fifthDiv{
    background-color: rgb(221, 159, 33);
  }
  #sixthDiv {
    background-color: greenyellow;
  }
  #seventhDiv{
    background-color: salmon;
  }
  