/* @media (min-width: 768px) and (max-width: 1024px) {

#a{
    background-color: rgb(173, 121, 43);
}
#b{
    background-color: rgb(170, 127, 62);
}
#c{
    background-color: rgb(173, 121, 43);
}
#d{
    background-color: rgb(173, 121, 43);
}
#e{
    background-color: rgb(173, 121, 43);
}
#f{
    background-color: rgb(173, 121, 43);
}
#g{
    background-color: rgb(173, 121, 43);
}
#h{
    background-color: rgb(173, 121, 43);
}
#i{
    background-color: rgb(173, 121, 43);
}


}
 */
